.bg-black
{
    background: black;
}
.ht-10 {
    height: 10px;
}
.ht-20 {
    height: 20px;
}
.ht-30 {
    height: 30px;
}
.ht-40 {
    height: 40px;
}
.ht-250 {
    height: 250px;
}
.ht-150 {
    height: 150px;
}